<% layout('layouts/boilerplate') %>
<!-- Admin page, edit test (questions, scale, questiontypes) -->
<h1>Edit Test</h1>
<form action="/tests/<%= test.id %>?_method=PUT" method="POST">
  <div>
    <label for="form">Form</label>
    <input type="text" id="form" name="test[form]" value="<%= test.form %> " />
  </div>
  <div>
    <label for="type">Type</label>
    <input type="text" id="type" name="test[type]" value="<%= test.type %> " />
  </div>
  <div>
    <label for="description">Description</label>
    <input
      type="text"
      id="description"
      name="test[description]"
      value="<%= test.description %> "
    />
  </div>
  <button>Update</button>
</form>
<a href="/tests/<%= test._id %>">Back to Test</a>
