<% layout('layouts/boilerplate') %>
<!-- User: If taken, show all questions; else, show log button -->
<a class="btn btn-sm btn-outline-secondary mb-3" href="/tests"
  >&laquo; All Tests</a
>
<h1><%= test.form %></h1>
<p>Date: <%= test.date %></p>
<% if (currentUser && currentUser.isAdmin) { %>
<form
  class="d-inline"
  action="/tests/<%= test.id %>?_method=DELETE"
  method="POST"
>
  <button class="btn btn-danger mb-2">Delete</button>
</form>

<a class="btn btn-success mb-2" href="/tests/<%=test._id%>/edit">Edit</a>
<br />
<% }%>
<div class="d-grid">
  <a class="btn btn-primary" href="/attempts/new?test=<%= test._id %>"
    >Make New Attempt</a
  >
</div>

<!-- TODO: TabView: Graph of distribution of question types and scale step graph  -->
<%- include('../partials/tabview') %>
<div id="English" class="tabcontent">
  <div id="distEng" class="mt-3"></div>
  <div id="scaleEng" class="mt-3"></div>
</div>
<div id="Math" class="tabcontent">
  <div id="distMath" class="mt-3"></div>
  <div id="scaleMath" class="mt-3"></div>
</div>
<div id="Reading" class="tabcontent">
  <div id="distReading" class="mt-3"></div>
  <div id="scaleReading" class="mt-3"></div>
</div>
<div id="Science" class="tabcontent">
  <div id="distScience" class="mt-3"></div>
  <div id="scaleScience" class="mt-3"></div>
</div>

<!-- TODO: Link to attempts, if done -->

<script>
  const scales = <%- JSON.stringify(test.scales) %>;
  const topicStats = <%- JSON.stringify(topicStats) %>;
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="/javascripts/testShowGraphs.js"></script>
