<% layout('layouts/boilerplate') %>
<!-- User: If taken, show all questions; else, show log button -->
<h1><%= test.form %></h1>
<p>Type: <%= test.type %></p>
<p><%= test.description %></p>
<p>
    <form action="/tests/<%= test.id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</p>
<a href="/tests/<%=test._id%>/edit">Edit</a>
<a href="/tests">All Tests</a>

