<% layout('layouts/boilerplate') %>
<!-- User: see page for all question types -->
<div>
  <h1
    id="questiontypes_header"
    class="display-1 text-center fw-bold text-white"
  >
    Question Types
  </h1>
</div>
<div class="container mt-5">
  <% if (currentUser && currentUser.isAdmin) { %>
  <a
    class="
      inline-flex
      text-white
      bg-blue-500
      border-0
      py-2
      px-6
      focus:outline-none
      hover:bg-blue-600
      rounded
      text-lg
    "
    href="/types/new"
    >Add Question Type</a
  >
  <% } %>
  <div
    class="bg-white mx-auto border border-gray-200 mt-3"
    x-data="{selected:null}"
  >
    <ul class="shadow-box">
      <li class="relative border-b border-gray-200">
        <button
          type="button"
          class="w-full px-8 py-6 text-left"
          @click="selected !== 1 ? selected = 1 : selected = null"
        >
          <div class="flex items-center justify-between">
            <span> English </span>
            <span class="ico-plus"></span>
          </div>
        </button>

        <div
          class="relative overflow-hidden transition-all max-h-0 duration-700"
          style=""
          x-ref="container1"
          x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
        >
          <div class="p-6">
                <div
      class="bg-white max-w-6xl mx-auto border border-gray-200"
      x-data="{selectedEng:null}"
    >
      <ul class="shadow-box">
        <% for(let i = 0; i < topics.english.length; i++) { %>
          <li class="relative border-b border-gray-200">
        <button
          type="button"
          class="w-full px-8 py-6 text-left"
          @click="selectedEng !== <%= i %>  ? selectedEng = <%= i %>  : selectedEng = null"
        >
          <div class="flex items-center justify-between">
            <span> <%= topics.english[i] %>  </span>
            <span class="ico-plus"></span>
          </div>
        </button>

        <div
          class="relative overflow-hidden transition-all max-h-0 duration-700"
          style=""
          x-ref="containerE<%= i %>"
          x-bind:style="selectedEng == <%= i %> ? 'max-height: ' + $refs.containerE<%= i %>.scrollHeight + 'px' : ''"
        >
          <div class="p-6">
            <ul>
              <% for(let type of types.filter((type) => type.section ==
                    "English" && type.general == topics.english[i])) { %>
                    <li>
                      <a class="text-dark" href="/types/<%= type._id %>"
                        ><%= type.name %>
                      </a>
                    </li>
                    <% } %>
            </ul>
          </div>
        </div>
      </li>
        <% } %>
      </ul>
          </div>
        </div>
      </li>

      <li class="relative border-b border-gray-200">
        <button
          type="button"
          class="w-full px-8 py-6 text-left"
          @click="selected !== 2 ? selected = 2 : selected = null"
        >
          <div class="flex items-center justify-between">
            <span> Math </span>
            <span class="ico-plus"></span>
          </div>
        </button>

        <div
          class="relative overflow-hidden transition-all max-h-0 duration-700"
          style=""
          x-ref="container2"
          x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
        >
          <div class="p-6">
            <div
      class="bg-white max-w-6xl mx-auto border border-gray-200"
      x-data="{selectedMath:null}"
    >
      <ul class="shadow-box">
        <% for(let i = 0; i < topics.math.length; i++) { %>
          <li class="relative border-b border-gray-200">
        <button
          type="button"
          class="w-full px-8 py-6 text-left"
          @click="selectedMath !== <%= i %>  ? selectedMath = <%= i %>  : selectedMath = null"
        >
          <div class="flex items-center justify-between">
            <span> <%= topics.math[i] %>  </span>
            <span class="ico-plus"></span>
          </div>
        </button>

        <div
          class="relative overflow-hidden transition-all max-h-0 duration-700"
          style=""
          x-ref="containerM<%= i %>"
          x-bind:style="selectedMath == <%= i %> ? 'max-height: ' + $refs.containerM<%= i %>.scrollHeight + 'px' : ''"
        >
          <div class="p-6">
            <ul>
              <% for(let type of types.filter((type) => type.section ==
                    "Math" && type.general == topics.math[i])) { %>
                    <li>
                      <a class="text-dark" href="/types/<%= type._id %>"
                        ><%= type.name %>
                      </a>
                    </li>
                    <% } %>
            </ul>
          </div>
        </div>
      </li>
        <% } %>
      </ul>
          </div>
          </div>
        </div>
      </li>

      <li class="relative border-b border-gray-200">
        <button
          type="button"
          class="w-full px-8 py-6 text-left"
          @click="selected !== 3 ? selected = 3 : selected = null"
        >
          <div class="flex items-center justify-between">
            <span> Reading </span>
            <span class="ico-plus"></span>
          </div>
        </button>

        <div
          class="relative overflow-hidden transition-all max-h-0 duration-700"
          style=""
          x-ref="container3"
          x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''"
        >
          <div class="p-6">
            <div
      class="bg-white max-w-6xl mx-auto border border-gray-200"
      x-data="{selectedRead:null}"
    >
      <ul class="shadow-box">
        <% for(let i = 0; i < topics.reading.length; i++) { %>
          <li class="relative border-b border-gray-200">
        <button
          type="button"
          class="w-full px-8 py-6 text-left"
          @click="selectedRead !== <%= i %>  ? selectedRead = <%= i %>  : selectedRead = null"
        >
          <div class="flex items-center justify-between">
            <span> <%= topics.reading[i] %>  </span>
            <span class="ico-plus"></span>
          </div>
        </button>

        <div
          class="relative overflow-hidden transition-all max-h-0 duration-700"
          style=""
          x-ref="containerR<%= i %>"
          x-bind:style="selectedRead == <%= i %> ? 'max-height: ' + $refs.containerR<%= i %>.scrollHeight + 'px' : ''"
        >
          <div class="p-6">
            <ul>
              <% for(let type of types.filter((type) => type.section ==
                    "Reading" && type.general == topics.reading[i])) { %>
                    <li>
                      <a class="text-dark" href="/types/<%= type._id %>"
                        ><%= type.name %>
                      </a>
                    </li>
                    <% } %>
            </ul>
          </div>
        </div>
      </li>
        <% } %>
      </ul>
          </div>
          </div>
        </div>
      </li>
      <li class="relative border-b border-gray-200">
        <button
          type="button"
          class="w-full px-8 py-6 text-left"
          @click="selected !== 4 ? selected = 4 : selected = null"
        >
          <div class="flex items-center justify-between">
            <span> Science </span>
            <span class="ico-plus"></span>
          </div>
        </button>

        <div
          class="relative overflow-hidden transition-all max-h-0 duration-700"
          style=""
          x-ref="container4"
          x-bind:style="selected == 4 ? 'max-height: ' + $refs.container4.scrollHeight + 'px' : ''"
        >
          <div class="p-6">
            <div
      class="bg-white max-w-6xl mx-auto border border-gray-200"
      x-data="{selectedSci:null}"
    >
      <ul class="shadow-box">
        <% for(let i = 0; i < topics.english.length; i++) { %>
          <li class="relative border-b border-gray-200">
        <button
          type="button"
          class="w-full px-8 py-6 text-left"
          @click="selectedSci !== <%= i %>  ? selectedSci = <%= i %>  : selectedSci = null"
        >
          <div class="flex items-center justify-between">
            <span> <%= topics.english[i] %>  </span>
            <span class="ico-plus"></span>
          </div>
        </button>

        <div
          class="relative overflow-hidden transition-all max-h-0 duration-700"
          style=""
          x-ref="containerS<%= i %>"
          x-bind:style="selectedSci == <%= i %> ? 'max-height: ' + $refs.containerS<%= i %>.scrollHeight + 'px' : ''"
        >
          <div class="p-6">
            <ul>
              <% for(let type of types.filter((type) => type.section ==
                    "Science" && type.general == topics.science[i])) { %>
                    <li>
                      <a class="text-dark" href="/types/<%= type._id %>"
                        ><%= type.name %>
                      </a>
                    </li>
                    <% } %>
            </ul>
          </div>
        </div>
      </li>
        <% } %>
      </ul>
          </div>
          </div>
        </div>
      </li>
    </ul>
  </div>