<% layout('layouts/boilerplate') %>

<!-- User page, see question types for resources -->

<link rel="stylesheet" href="/stylesheets/styles.css" />
<a class="btn btn-sm btn-outline-secondary mb-3" href="/types"
  >&laquo; All Question Types</a
>
<h1><%= type.name %></h1>
<h2 class="text-muted"><%= type.section %> - <%= type.general %></h2>
<p><%= type.description %></p>
<h3>Questions</h3>
<% if(questions.length != 0) { %>
<ul>
  <% for (let question of questions) { %>
  <li>
    <!-- TODO: setup questions routes to add video for each question -->
    <a href="/tests/<%= question.test._id %>"
      >Test <%= question.test.form %> - Q<%= question.index %>
    </a>
  </li>
  <% } %>
</ul>
<% } else { %>
<p>Sorry, no questions are available under this type :(</p>
<% } %>
<h3>Resources</h3>
<% if(type.resources.length != 0) { %>
<ul>
  <% for (let resource of type.resources) { %>
  <li>
    <span
      ><img
        class="thumbnail"
        src="/assets/<%= resource.format.toLowerCase() %>.png"
        alt=""
    /></span>
    <a href="<%= resource.link %>"> <%= resource.name %></a>
    <p class="text-muted"><%= resource.description %></p>
  </li>
  <% } %>
</ul>
<% } else { %>
<p>Sorry, no resources have been added for this question type yet :(</p>
<% } %> <% if (currentUser && currentUser.isAdmin) { %>
<a class="btn btn-sm btn-success" href="/types/<%= type._id %>/edit">Edit</a>
<form
  class="d-inline"
  action="/types/<%= type._id %>/?_method=DELETE"
  method="POST"
>
  <button class="btn btn-sm btn-danger">Delete</button>
</form>
<% } %>
