<% layout('layouts/boilerplate') %>

<!-- User page, see question types for resources -->
<a class="btn btn-sm btn-outline-secondary mb-3" href="/types"
  >&laquo; All Question Types</a
>
<h1><%= type.name %></h1>
<h2 class="text-muted"><%= type.section %> - <%= type.general %></h2>
<p><%= type.description %></p>
<h3>Questions</h3>
<ul>
  <% for (let question of questions) { %>
  <li>
    <!-- TODO: setup questions routes to add video for each vid -->
    <a href=""><%= question.test.form %> - <%= question.index %> </a>
  </li>
  <% } %>
</ul>
<h3>Resources</h3>
<ul>
  <% for (let resource of type.resources) { %>
  <li><a href="<%= resource.link %> "><%= resource.name %></a></li>
  <% } %>
</ul>
<% if (currentUser && currentUser.isAdmin) { %>
<a class="btn btn-sm btn-success" href="/types/<%= type._id %>/edit">Edit</a>
<form
  class="d-inline"
  action="/types/<%= type._id %>/?_method=DELETE"
  method="POST"
>
  <button class="btn btn-sm btn-danger">Delete</button>
</form>
<% } %>
