<% layout('layouts/boilerplate') %>
<!-- Show all previous attempts(data page) w/ graphs + analysis -->
<div>
  <h1 id="attempts_header" class="display-1 text-center fw-bold text-white">
    Data
  </h1>
</div>
<div class="container mt-5">

<a class="btn btn-success btn-sm mb-3" href="/attempts/new">New Attempt</a>
<% if (sortedAttempts.length != 0) { %>
<div class="text-center mb-3">
  <h2 class="bg-gradient-to-r from-green-400 to-blue-500">Scores</h2>
  <!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                English
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Math
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Reading
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Science
              </th>
              <!-- <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th> -->
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  Average Score
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    
                    <div class="text-sm font-medium text-gray-900">
                      <%= trendData.englishArr.reduce((a,b) => a + b, 0) / trendData.englishArr.length %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= Math.min(...trendData.englishArr) %> - <%= Math.max(...trendData.englishArr) %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    
                    <div class="text-sm font-medium text-gray-900">
                      <%= trendData.mathArr.reduce((a,b) => a + b, 0) / trendData.mathArr.length %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= Math.min(...trendData.mathArr) %> - <%= Math.max(...trendData.mathArr) %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    
                    <div class="text-sm font-medium text-gray-900">
                      <%= trendData.readingArr.reduce((a,b) => a + b, 0) / trendData.readingArr.length %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= Math.min(...trendData.readingArr) %> - <%= Math.max(...trendData.readingArr) %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    
                    <div class="text-sm font-medium text-gray-900">
                      <%= trendData.scienceArr.reduce((a,b) => a + b, 0) / trendData.scienceArr.length %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= Math.min(...trendData.scienceArr) %> - <%= Math.max(...trendData.scienceArr) %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  Average # of Mistakes
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    
                    <div class="text-sm font-medium text-gray-900">
                      <%= mistakeData.englishArr.reduce((a,b) => a + b, 0) / mistakeData.englishArr.length %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= Math.min(...mistakeData.englishArr) %> - <%= Math.max(...mistakeData.englishArr) %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    
                    <div class="text-sm font-medium text-gray-900">
                      <%= mistakeData.mathArr.reduce((a,b) => a + b, 0) / mistakeData.mathArr.length %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= Math.min(...mistakeData.mathArr) %> - <%= Math.max(...mistakeData.mathArr) %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    
                    <div class="text-sm font-medium text-gray-900">
                      <%= mistakeData.readingArr.reduce((a,b) => a + b, 0) / mistakeData.readingArr.length %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= Math.min(...mistakeData.readingArr) %> - <%= Math.max(...mistakeData.readingArr) %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    
                    <div class="text-sm font-medium text-gray-900">
                      <%= mistakeData.scienceArr.reduce((a,b) => a + b, 0) / mistakeData.scienceArr.length %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= Math.min(...mistakeData.scienceArr) %> - <%= Math.max(...mistakeData.scienceArr) %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  <!-- https://codeburst.io/javascript-arrays-finding-the-minimum-maximum-sum-average-values-f02f1b0ce332 -->
<div class="row p-3 bg-white rounded-3 text-white mb-3">
  <div id="scoreChart"></div>
</div>

<div class="row my-3">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Previous Attempts</h5>
        <p class="card-text text-muted">Most recent practice tests</p>
      </div>
      <ul class="list-group list-group-flush">
        <% for (attempt of sortedAttempts.slice(0,3)) { %>
        <li class="list-group-item">
          <a href="/attempts/<%= attempt._id %>"
            ><%= attempt.test.form %> - <%=
            attempt.dateTaken.toISOString().slice(0, 10) %>
          </a>
        </li>
        <% } %>
        <li class="list-group-item">
          <a href="#allAttempts" class="card-link text-dark">Show more...</a>
        </li>
      </ul>

    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Worst Topic</h5>
        <p class="card-text text-muted">
          The topic within each section with the most mistakes
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>English:</b> <%= worstDict.english %>
        </li>
        <li class="list-group-item"><b>Math:</b> <%= worstDict.math %></li>
        <li class="list-group-item">
          <b>Reading:</b> <%= worstDict.reading %>
        </li>
        <li class="list-group-item">
          <b>Science:</b> <%= worstDict.science %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row p-3 bg-white rounded-3 text-white mb-3">

<div id="rawChart"></div>
</div>

<div class="w-4/5 mx-auto mt-4  rounded">
  <!-- Tabs -->
  <ul id="tabs" class="inline-flex w-full px-1 pt-2 ">
    <li class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2 border-blue-400 rounded-t opacity-50"><a id="default-tab" href="#first">English</a></li>
    <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#second">Math</a></li>
    <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#third">Reading</a></li>
    <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#fourth">Science</a></li>
  </ul>

  <!-- Tab Contents -->
  <div id="tab-contents">
    <div id="first" class="p-4">
      <div class="grid grid-cols-2">
        <div id="qTypeBarEng" class=""></div>
        <div id="tagGraphEng" class=""></div>
      </div>
    </div>
    <div id="second" class="hidden p-4">
      <div class="grid grid-cols-2">
        <div id="qTypeBarMath" class=""></div>
        <div id="tagGraphMath" class=""></div>
      </div>
    </div>
    <div id="third" class="hidden p-4">
      <div class="grid grid-cols-2">
        <div id="qTypeBarRead" class=""></div>
        <div id="tagGraphRead" class=""></div>
      </div>
    </div>
    <div id="fourth" class="hidden p-4">
      <div class="grid grid-cols-2">
        <div id="qTypeBarSci" class=""></div>
        <div id="tagGraphSci" class=""></div>
      </div>
    </div>
  </div>
</div>
<div class="row p-3 bg-white rounded-3 b-4">

<div id="allAttempts mt-3">
  <h3 class="text-center mt-3">All Attempts</h3>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Attempt</th>
      <th scope="col">Date</th>
      <th scope="col">English</th>
      <th scope="col">Math</th>
      <th scope="col">Reading</th>
      <th scope="col">Science</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i=0;i<sortedAttempts.length;i++) { %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><a href="/attempts/<%= sortedAttempts[i]._id %>"><%= sortedAttempts[i].test.form %> </a></td>
        <td><%= sortedAttempts[i].dateTaken.toISOString().slice(0, 10) %></td>
        <td><%= trendData.englishArr.slice().reverse()[i] %></td>
        <td><%= trendData.mathArr.slice().reverse()[i] %></td>
        <td><%= trendData.readingArr.slice().reverse()[i] %></td>
        <td><%= trendData.scienceArr.slice().reverse()[i] %></td>
      </tr>
    <% } %>
  </tbody>
</table>
</div>
</div>

<script>
  document.getElementById("defaultOpen").click();

    const trendData = <%- JSON.stringify(trendData) %>
    const mistakeData = <%- JSON.stringify(mistakeData) %>
    const summedQTypes = <%- JSON.stringify(summedQTypes) %>
    const tagsData = <%- JSON.stringify(tagsData) %>
</script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>


<script src="/javascripts/myDataGraphs.js"></script>

<% } else { %>
<p>Add attempt first to analyze data.</p>
  <% } %> 

  </div>