<% layout('layouts/boilerplate') %>
<!-- Show all previous attempts(data page) w/ graphs + analysis -->
<h1>All Attempts</h1>
<a class="btn btn-success btn-sm mb-3" href="/attempts/new">New Attempt</a>
<div class="text-center mb-3">
  <h2 class="display-2 bg-secondary rounded-pill text-light mb-3">Scores</h2>
  <!-- https://codeburst.io/javascript-arrays-finding-the-minimum-maximum-sum-average-values-f02f1b0ce332 -->
  <div class="row display-2">
    <div class="col display-6">Average Score</div>
    <div class="col">
      <%= trendData.englishArr.reduce((a,b) => a + b, 0) /
      trendData.englishArr.length %>
    </div>
    <div class="col">
      <%= trendData.mathArr.reduce((a,b) => a + b, 0) / trendData.mathArr.length
      %>
    </div>
    <div class="col">
      <%= trendData.readingArr.reduce((a,b) => a + b, 0) /
      trendData.readingArr.length %>
    </div>
    <div class="col">
      <%= trendData.scienceArr.reduce((a,b) => a + b, 0) /
      trendData.scienceArr.length %>
    </div>
  </div>
  <div class="row display-6">
    <div class="col display-6">Score Range</div>
    <div class="col">
      <%= Math.min(...trendData.englishArr) %> - <%=
      Math.max(...trendData.englishArr) %>
    </div>
    <div class="col">
      <%= Math.min(...trendData.mathArr) %> - <%= Math.max(...trendData.mathArr)
      %>
    </div>
    <div class="col">
      <%= Math.min(...trendData.readingArr) %> - <%=
      Math.max(...trendData.readingArr) %>
    </div>
    <div class="col">
      <%= Math.min(...trendData.scienceArr) %> - <%=
      Math.max(...trendData.scienceArr) %>
    </div>
  </div>
  <div class="row display-4">
    <div class="col display-6">Average # of Mistakes</div>
    <div class="col">
      <%= mistakeData.englishArr.reduce((a,b) => a + b, 0) /
      mistakeData.englishArr.length %>
    </div>
    <div class="col">
      <%= mistakeData.mathArr.reduce((a,b) => a + b, 0) /
      mistakeData.mathArr.length %>
    </div>
    <div class="col">
      <%= mistakeData.readingArr.reduce((a,b) => a + b, 0) /
      mistakeData.readingArr.length %>
    </div>
    <div class="col">
      <%= mistakeData.scienceArr.reduce((a,b) => a + b, 0) /
      mistakeData.scienceArr.length %>
    </div>
  </div>
  <div class="row display-6">
    <div class="col display-6"># of Mistakes Range</div>
    <div class="col">
      <%= Math.min(...mistakeData.englishArr) %> - <%=
      Math.max(...mistakeData.englishArr) %>
    </div>
    <div class="col">
      <%= Math.min(...mistakeData.mathArr) %> - <%=
      Math.max(...mistakeData.mathArr) %>
    </div>
    <div class="col">
      <%= Math.min(...mistakeData.readingArr) %> - <%=
      Math.max(...mistakeData.readingArr) %>
    </div>
    <div class="col">
      <%= Math.min(...mistakeData.scienceArr) %> - <%=
      Math.max(...mistakeData.scienceArr) %>
    </div>
  </div>
</div>
<div id="scoreChart"></div>
<div class="row my-3">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Previous Attempts</h5>
        <p class="card-text text-muted">Most recent practice tests</p>
      </div>
      <ul class="list-group list-group-flush">
        <% for (attempt of sortedAttempts.slice(0,5)) { %>
        <li class="list-group-item">
          <a href="/attempts/<%= attempt._id %>"
            ><%= attempt.test.form %> - <%=
            attempt.dateTaken.toISOString().slice(0, 10) %>
          </a>
        </li>
        <% } %>
      </ul>
      <div class="card-body">
        <a href="#allAttempts" class="card-link text-dark">Show more...</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Worst Topic</h5>
        <p class="card-text text-muted">
          The topic within each section with the most mistakes
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>English:</b> <%= worstDict.english %>
        </li>
        <li class="list-group-item"><b>Math:</b> <%= worstDict.math %></li>
        <li class="list-group-item">
          <b>Reading:</b> <%= worstDict.reading %>
        </li>
        <li class="list-group-item">
          <b>Science:</b> <%= worstDict.science %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="rawChart"></div>

<%- include('../partials/tabview') %>
<div id="English" class="tabcontent">
  <div id="qTypeBarEng" class="mt-3"></div>
</div>
<div id="Math" class="tabcontent">
  <div id="qTypeBarMath" class="mt-3"></div>
</div>
<div id="Reading" class="tabcontent">
  <div id="qTypeBarRead" class="mt-3"></div>
</div>
<div id="Science" class="tabcontent">
  <div id="qTypeBarSci" class="mt-3"></div>
</div>

<!-- TODO: Add card + graph w/ info about tags (skip, guess, time, revised ) -->

<!-- TODO: Add Table for more attempts -->
<div id="allAttempts">
  <h3>All Attempts</h3>
</div>
<script>
  document.getElementById("defaultOpen").click();

    const trendData = <%- JSON.stringify(trendData) %>
    const mistakeData = <%- JSON.stringify(mistakeData) %>
    const summedQTypes = <%- JSON.stringify(summedQTypes) %>
</script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/javascripts/myDataGraphs.js"></script>
