<% layout('layouts/boilerplate') %>
<!-- Log Page, bubble in answer sheet -->

<link rel="stylesheet" href="/stylesheets/new-attempt.css">
<form action="/attempts/" method="POST" novalidate class="validated-form">
  <div class="row justify-content-center mb-3">
    <div class="col-8">
      <div class="card">
    <div class="card-body">
<h1 class="card-title text-center">New Attempt</h1>
      <div class="list-group">
        <div class="list-group-item">
          <div class="mb-3">
    <select name="attempt[test]" class="form-select" id="testSelector" required>
      <option value="" <% if (!selectedTest) { %>selected <% } %> disabled>Select test</option>
      <% for(test of tests) { %>
      <option <% if (selectedTest && selectedTest == test._id ) { %> selected <% } %> value="<%= test._id %>"><%= test.form %></option>
      <% } %>
         </select>
          </div>
        </div>
        <div class="list-group-item">
          <div class="form-floating mb-3">
    <input
      class="form-control"
      type="date"
      id="date"
      name="attempt[dateTaken]"
      required
    />
    <label for="date">Date Taken</label>
  </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
  
  
  
  <div class="row justify-content-center mb-3">
    <div class="col-8">
      <div class="card rounded">
        <div class="card-body p-5">
      
          <h2 class="card-title bg-secondary text-light text-center rounded-pill py-3 mb-3">English</h2>
        <div class="list-group list-group-flush">
        <% for(let i=1;i<76;i++) { %>
        <div class="list-group-item bubble">
          <div class="row">

          
          <div class="col-1  <% if(i % 2 == 0) {  %> bg-light <% } %>">
            <span class="fw-bold">Q<%= i %></span>
          </div>
          <div class=" col-6 <% if(i % 2 == 0) {  %> bg-light <% } %>">
            <div class="d-inline">
      
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  id="q<%= i %>A"
                  name="attempt[answers][english][<%= i %>][choice]"
                  value="A"
                  checked
                  required
                />
                <label class="form-check-label" for="q<%= i %>A"><% if(i % 2 == 0) { %> F <% } else { %> A <% } %>
      </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  id="q<%= i %>B"
                  name="attempt[answers][english][<%= i %>][choice]"
                  value="B"required
                />
                <label class="form-check-label" for="q<%= i %>B"><% if(i % 2 == 0) { %> G <% } else { %> B <% } %></label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  id="q<%= i %>C"
                  name="attempt[answers][english][<%= i %>][choice]"
                  value="C"required
                />
                <label class="form-check-label" for="q<%= i %>C"><% if(i % 2 == 0) { %> H <% } else { %> C <% } %></label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  id="q<%= i %>D"
                  name="attempt[answers][english][<%= i %>][choice]"
                  value="D"required
                />
                <label class="form-check-label " for="q<%= i %>D"><% if(i % 2 == 0) { %> J <% } else { %> D <% } %></label>
              </div>
            </div>
          </div>
            <div class="col-5<% if(i % 2 == 0) {  %> bg-light <% } %>">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="skipCheckbox<%= i %>"
                name="attempt[answers][english][<%= i %>][tags][0]"
                value="skip"
              />
              <label class="form-check-label" for="skipCheckbox<%= i %>"><img src="/assets/skip.png" alt=""></label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="guessCheckbox<%= i %>"
                name="attempt[answers][english][<%= i %>][tags][1]"
                value="guess"
              />
              <label class="form-check-label" for="guessCheckbox<%= i %>"
                ><img src="/assets/guess.png" alt=""></label
              >
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="timeCheckbox<%= i
              %>" name="attempt[answers][english][<%= i %>][tags][2]" value="noTime" />
              <label class="form-check-label" for="timeCheckbox<%= i %>"
                ><img src="/assets/late.png" alt=""></label
              >
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="reviseCheckbox<%= i
              %>" name="attempt[answers][english][<%= i %>][tags][3]" value="revised" />
              <label class="form-check-label" for="reviseCheckbox<%= i %>"
                ><img src="/assets/revise.png" alt=""></label
              >
            </div>
          </div>
        </div>
        </div>
        <% } %>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center mb-3">
    <div class="col-8">
      <div class="card rounded">
        <div class="card-body p-5">
          
            <h2 class="card-title bg-secondary text-light text-center rounded-pill py-3 mb-3">Math</h2>
         
            <div class="list-group list-group-flush">

            
          <% for(let i=1;i<61;i++) { %>
            <div class="list-group-item">
          <div class="row justify-content-center bubble">
            <div class="col-1  <% if(i % 2 == 0) {  %> bg-light <% } %>">
            <span class="fw-bold">Q<%= i %></span>
            </div>
            <div class="col-6 <% if(i % 2 == 0) {  %> bg-light <% } %>">
              <div class="d-inline">
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>A"
                    name="attempt[answers][math][<%= i %>][choice]"
                    value="A"
                    checked required
                  />
                  <label class="form-check-label" for="q<%= i %>A"><% if(i % 2 == 0) { %> F <% } else { %> A <% } %>
      </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>B"
                    name="attempt[answers][math][<%= i %>][choice]"
                    value="B"required
                  />
                  <label class="form-check-label" for="q<%= i %>B"><% if(i % 2 == 0) { %> G <% } else { %> B <% } %></label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>C"
                    name="attempt[answers][math][<%= i %>][choice]"
                    value="C"required
                  />
                  <label class="form-check-label" for="q<%= i %>C"><% if(i % 2 == 0) { %> H <% } else { %> C <% } %></label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>D"
                    name="attempt[answers][math][<%= i %>][choice]"
                    value="D"required
                  />
                  <label class="form-check-label" for="q<%= i %>D"><% if(i % 2 == 0) { %> J <% } else { %> D <% } %></label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>E"
                    name="attempt[answers][math][<%= i %>][choice]"
                    value="E"required
                  />
                  <label class="form-check-label " for="q<%= i %>E">E</label>
                </div>
              </div>
            </div>
              <div class="col-5<% if(i % 2 == 0) {  %> bg-light <% } %>">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="skipCheckbox<%= i %>"
                  name="attempt[answers][math][<%= i %>][tags][0]"
                  value="skip"
                />
                <label class="form-check-label" for="skipCheckbox<%= i %>"><img src="/assets/skip.png" alt=""></label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="guessCheckbox<%= i %>"
                  name="attempt[answers][math][<%= i %>][tags][1]"
                  value="guess"
                />
                <label class="form-check-label" for="guessCheckbox<%= i %>"
                  ><img src="/assets/guess.png" alt=""></label
                >
              </div>
              <div class="form-check form-check-inline ">
                <input class="form-check-input" type="checkbox" id="timeCheckbox<%= i
                %>" name="attempt[answers][math][<%= i %>][tags][2]" value="noTime" />
                <label class="form-check-label" for="timeCheckbox<%= i %>"
                  ><img src="/assets/late.png" alt=""></label
                >
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="reviseCheckbox<%= i
                %>" name="attempt[answers][math][<%= i %>][tags][3]" value="revised" />
                <label class="form-check-label" for="reviseCheckbox<%= i %>"
                  ><img src="/assets/revise.png" alt=""></label
                >
              </div>
            </div>
          </div>
          </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-8">
      <div class="card rounded">
        <div class="card-body p-5">
          
            <h2 class=" card-title bg-secondary text-light text-center rounded-pill py-3 mb-3">Reading</h2>
          
          <div class="list-group list-group-flush">
          <% for(let i=1;i<41;i++) { %>
            <div class="list-group-item">
          <div class="row justify-content-center bubble">
            <div class="col-1  <% if(i % 2 == 0) {  %> bg-light <% } %>">
                <span class="fw-bold">Q<%= i %></span>
            </div>
            <div class="col-6 <% if(i % 2 == 0) {  %> bg-light <% } %>">
              <div class="d-inline">
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>A"
                    name="attempt[answers][reading][<%= i %>][choice]"
                    value="A"
                    checked required
                  />
                  <label class="form-check-label" for="q<%= i %>A"><% if(i % 2 == 0) { %> F <% } else { %> A <% } %>
      </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>B"
                    name="attempt[answers][reading][<%= i %>][choice]"
                    value="B"required
                  />
                  <label class="form-check-label" for="q<%= i %>B"><% if(i % 2 == 0) { %> G <% } else { %> B <% } %></label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>C"
                    name="attempt[answers][reading][<%= i %>][choice]"
                    value="C"required
                  />
                  <label class="form-check-label" for="q<%= i %>C"><% if(i % 2 == 0) { %> H <% } else { %> C <% } %></label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>D"
                    name="attempt[answers][reading][<%= i %>][choice]"
                    value="D"required
                  />
                  <label class="form-check-label " for="q<%= i %>D"><% if(i % 2 == 0) { %> J <% } else { %> D <% } %></label>
                </div>
              </div>
            </div>
              <div class="col-5<% if(i % 2 == 0) {  %> bg-light <% } %>">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="skipCheckbox<%= i %>"
                  name="attempt[answers][reading][<%= i %>][tags][0]"
                  value="skip"
                />
                <label class="form-check-label" for="skipCheckbox<%= i %>"><img src="/assets/skip.png" alt=""></label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="guessCheckbox<%= i %>"
                  name="attempt[answers][reading][<%= i %>][tags][1]"
                  value="guess"
                />
                <label class="form-check-label" for="guessCheckbox<%= i %>"
                  ><img src="/assets/guess.png" alt=""></label
                >
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="timeCheckbox<%= i
                %>" name="attempt[answers][reading][<%= i %>][tags][2]" value="noTime" />
                <label class="form-check-label" for="timeCheckbox<%= i %>"
                  ><img src="/assets/late.png" alt=""></label
                >
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="reviseCheckbox<%= i
                %>" name="attempt[answers][reading][<%= i %>][tags][3]" value="revised" />
                <label class="form-check-label" for="reviseCheckbox<%= i %>"
                  ><img src="/assets/revise.png" alt=""></label
                >
              </div>
            </div>
          </div>
          </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-8">
      <div class="card rounded">
        <div class="card-body p-5">
          
            <h2 class="card-title bg-secondary text-light text-center rounded-pill py-3 mb-3  text-center rounded-pill">Science</h2>
          
        <div class="list-group list-group-flush">
          <% for(let i=1;i<41;i++) { %>
            <div class="list-group-item">
          <div class="row justify-content-center bubble">
            <div class="col-1  <% if(i % 2 == 0) {  %> bg-light <% } %>">
              <span class="fw-bold">Q<%= i %></span>
            </div>
            <div class=" col-6 <% if(i % 2 == 0) {  %> bg-light <% } %>">
              <div class="d-inline">
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>A"
                    name="attempt[answers][science][<%= i %>][choice]"
                    value="A"
                    checked required
                  />
                  <label class="form-check-label" for="q<%= i %>A"><% if(i % 2 == 0) { %> F <% } else { %> A <% } %>
      </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>B"
                    name="attempt[answers][science][<%= i %>][choice]"
                    value="B" required
                  />
                  <label class="form-check-label" for="q<%= i %>B"><% if(i % 2 == 0) { %> G <% } else { %> B <% } %></label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>C"
                    name="attempt[answers][science][<%= i %>][choice]"
                    value="C" required
                  />
                  <label class="form-check-label" for="q<%= i %>C"><% if(i % 2 == 0) { %> H <% } else { %> C <% } %></label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="q<%= i %>D"
                    name="attempt[answers][science][<%= i %>][choice]"
                    value="D" required
                  />
                  <label class="form-check-label " for="q<%= i %>D"><% if(i % 2 == 0) { %> J <% } else { %> D <% } %></label>
                </div>
              </div>
              </div>
              <div class="col-5<% if(i % 2 == 0) {  %> bg-light <% } %>">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="skipCheckbox<%= i %>"
                  name="attempt[answers][science][<%= i %>][tags][0]"
                  value="skip"
                />
                <label class="form-check-label" for="skipCheckbox<%= i %>"><img src="/assets/skip.png" alt=""></label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="guessCheckbox<%= i %>"
                  name="attempt[answers][science][<%= i %>][tags][1]"
                  value="guess"
                />
                <label class="form-check-label" for="guessCheckbox<%= i %>"
                  ><img src="/assets/guess.png" alt=""></label
                >
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="timeCheckbox<%= i
                %>" name="attempt[answers][science][<%= i %>][tags][2]" value="noTime" />
                <label class="form-check-label" for="timeCheckbox<%= i %>"
                  ><img src="/assets/late.png" alt=""></label
                >
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="reviseCheckbox<%= i
                %>" name="attempt[answers][science][<%= i %>][tags][3]" value="revised" />
                <label class="form-check-label" for="reviseCheckbox<%= i %>"
                  ><img src="/assets/revise.png" alt=""></label
                >
              </div>
            </div>
          </div>
          </div>
          <% } %>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-6 offset-3 d-grid">
          <button type="submit" class= "btn btn-success btn-lg rounded-pill">Submit</button>
    </div>
  
  </div>
</form>