<% layout('layouts/boilerplate') %>
<!-- Log Page, bubble in answer sheet -->

<link rel="stylesheet" href="/stylesheets/new-attempt.css">
<form action="/attempts/" method="POST" novalidate class="validated-form">
  <div class="flex mb-3 justify-center">
    <div class="col-8">
      <div class="card">
    <div class="card-body">
<h1 class="mt-3
              text-2xl
              font-bold
              leading-7
              text-gray-900
              sm:text-3xl sm:truncate
              text-center">New Attempt</h1>
      <div class="list-group">
        <div class="list-group-item inline-flex">
                      <label class="font-bold mr-2" for="testSelector">Test Form: </label>
          <div class="mb-3">
    <select name="attempt[test]" class="form-select" id="testSelector" required>
      <option value="" <% if (!selectedTest) { %>selected <% } %> disabled>Select test</option>
      <% for(test of tests) { %>
      <option <% if (selectedTest && selectedTest == test._id ) { %> selected <% } %> value="<%= test._id %>"><%= test.form %></option>
      <% } %>
         </select>
          </div>
        </div>
        <div class="list-group-item">
          <div class="form-floating mb-3">
            <label class="font-bold" for="date">Date Taken: </label>
    <input
      class="form-control"
      type="date"
      id="date"
      name="attempt[dateTaken]"
      required
    />
    
  </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
  
  
  
  <div class="flex mb-3 justify-center">
    <div class="w-1/2">
      <div class="bg-gray-100 rounded-xl p-4">
        <div class="card-body p-5">
      
          <h2 class="card-title bg-secondary text-light text-center rounded-pill py-3 mb-3">English</h2>
        <div class="grid grid-cols-1">
        <% for(let i=1;i<76;i++) { %>
          <div class="w-full <% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
          <div class="inline-flex overflow-hidden w-5/6">
          
          <div class="w-1/12 mr-3">
            <span class="fw-bold">Q<%= i %></span>
          </div>
          <div class=" w-1/2">
            <div class="d-inline">
      
              <div class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio"
                  id="q<%= i %>A"
                  name="attempt[answers][english][<%= i %>][choice]"
                  value="A"
                  checked
                  required
                />
                <label class="mx-2" for="q<%= i %>A"><% if(i % 2 == 0) { %> F <% } else { %> A <% } %>
      </label>
              </div>
              <div class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio"
                  id="q<%= i %>B"
                  name="attempt[answers][english][<%= i %>][choice]"
                  value="B"required
                />
                <label class="mx-2" for="q<%= i %>B"><% if(i % 2 == 0) { %> G <% } else { %> B <% } %></label>
              </div>
              <div class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio"
                  id="q<%= i %>C"
                  name="attempt[answers][english][<%= i %>][choice]"
                  value="C"required
                />
                <label class="mx-2" for="q<%= i %>C"><% if(i % 2 == 0) { %> H <% } else { %> C <% } %></label>
              </div>
              <div class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio"
                  id="q<%= i %>D"
                  name="attempt[answers][english][<%= i %>][choice]"
                  value="D"required
                />
                <label class="mx-2" for="q<%= i %>D"><% if(i % 2 == 0) { %> J <% } else { %> D <% } %></label>
              </div>
            </div>
          </div>
            <div class="w-5/12<% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
            <div class="inline-flex items-center">
              <input
                class="form-radio"
                type="checkbox"
                id="skipCheckbox<%= i %>"
                name="attempt[answers][english][<%= i %>][tags][0]"
                value="skip"
              />
              <label class="mx-2" for="skipCheckbox<%= i %>"><img src="/assets/skip.png" alt=""></label>
            </div>
            <div class="inline-flex items-center">
              <input
                class="form-radio"
                type="checkbox"
                id="guessCheckbox<%= i %>"
                name="attempt[answers][english][<%= i %>][tags][1]"
                value="guess"
              />
              <label class="mx-2" for="guessCheckbox<%= i %>"
                ><img src="/assets/guess.png" alt=""></label
              >
            </div>
            <div class="inline-flex items-center">
              <input class="form-radio" type="checkbox" id="timeCheckbox<%= i
              %>" name="attempt[answers][english][<%= i %>][tags][2]" value="noTime" />
              <label class="mx-2" for="timeCheckbox<%= i %>"
                ><img src="/assets/late.png" alt=""></label
              >
            </div>
            <div class="inline-flex items-center">
              <input class="form-radio" type="checkbox" id="reviseCheckbox<%= i
              %>" name="attempt[answers][english][<%= i %>][tags][3]" value="revised" />
              <label class="mx-2" for="reviseCheckbox<%= i %>"
                ><img src="/assets/revise.png" alt=""></label
              >
            </div>
          </div>
        </div>
        </div>
        <% } %>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  <div class="flex mb-3 justify-center">
    <div class="w-1/2">
      <div class="bg-gray-100 rounded-xl p-4">
        <div class="card-body p-5">
          
            <h2 class="card-title bg-secondary text-light text-center rounded-pill py-3 mb-3">Math</h2>
         
            <div class="grid grid-cols-1">

            
          <% for(let i=1;i<61;i++) { %>
            <div class="w-full <% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
          <div class="inline-flex overflow-hidden w-5/6">
            <div class="w-1/12  mr-3">
            <span class="fw-bold">Q<%= i %></span>
            </div>
            <div class="w-1/2 ">
              <div class="d-inline">
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>A"
                    name="attempt[answers][math][<%= i %>][choice]"
                    value="A"
                    checked required
                  />
                  <label class="mx-2" for="q<%= i %>A"><% if(i % 2 == 0) { %> F <% } else { %> A <% } %>
      </label>
                </div>
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>B"
                    name="attempt[answers][math][<%= i %>][choice]"
                    value="B"required
                  />
                  <label class="mx-2" for="q<%= i %>B"><% if(i % 2 == 0) { %> G <% } else { %> B <% } %></label>
                </div>
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>C"
                    name="attempt[answers][math][<%= i %>][choice]"
                    value="C"required
                  />
                  <label class="mx-2" for="q<%= i %>C"><% if(i % 2 == 0) { %> H <% } else { %> C <% } %></label>
                </div>
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>D"
                    name="attempt[answers][math][<%= i %>][choice]"
                    value="D"required
                  />
                  <label class="mx-2" for="q<%= i %>D"><% if(i % 2 == 0) { %> J <% } else { %> D <% } %></label>
                </div>
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>E"
                    name="attempt[answers][math][<%= i %>][choice]"
                    value="E"required
                  />
                  <label class="mx-2" for="q<%= i %>E"><% if(i % 2 == 0) { %> K <% } else { %> E <% } %></label>
                </div>
              </div>
            </div>
              <div class="w-5/12<% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
              <div class="inline-flex items-center">
                <input
                  class="form-radio"
                  type="checkbox"
                  id="skipCheckbox<%= i %>"
                  name="attempt[answers][math][<%= i %>][tags][0]"
                  value="skip"
                />
                <label class="mx-2" for="skipCheckbox<%= i %>"><img src="/assets/skip.png" alt=""></label>
              </div>
              <div class="inline-flex items-center">
                <input
                  class="form-radio"
                  type="checkbox"
                  id="guessCheckbox<%= i %>"
                  name="attempt[answers][math][<%= i %>][tags][1]"
                  value="guess"
                />
                <label class="mx-2" for="guessCheckbox<%= i %>"
                  ><img src="/assets/guess.png" alt=""></label
                >
              </div>
              <div class="inline-flex items-center ">
                <input class="form-radio" type="checkbox" id="timeCheckbox<%= i
                %>" name="attempt[answers][math][<%= i %>][tags][2]" value="noTime" />
                <label class="mx-2" for="timeCheckbox<%= i %>"
                  ><img src="/assets/late.png" alt=""></label
                >
              </div>
              <div class="inline-flex items-center">
                <input class="form-radio" type="checkbox" id="reviseCheckbox<%= i
                %>" name="attempt[answers][math][<%= i %>][tags][3]" value="revised" />
                <label class="mx-2" for="reviseCheckbox<%= i %>"
                  ><img src="/assets/revise.png" alt=""></label
                >
              </div>
            </div>
          </div>
          </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex mb-3 justify-center">
    <div class="w-1/2">
      <div class="bg-gray-100 rounded-xl p-4">
        <div class="card-body p-5">
          
            <h2 class=" card-title bg-secondary text-light text-center rounded-pill py-3 mb-3">Reading</h2>
          
          <div class="grid grid-cols-1">
          <% for(let i=1;i<41;i++) { %>
            <div class="w-full <% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
          <div class="inline-flex overflow-hidden w-5/6">
            <div class="w-1/12  mr-3">
                <span class="fw-bold">Q<%= i %></span>
            </div>
            <div class="w-1/2 <% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
              <div class="d-inline">
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>A"
                    name="attempt[answers][reading][<%= i %>][choice]"
                    value="A"
                    checked required
                  />
                  <label class="mx-2" for="q<%= i %>A"><% if(i % 2 == 0) { %> F <% } else { %> A <% } %>
      </label>
                </div>
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>B"
                    name="attempt[answers][reading][<%= i %>][choice]"
                    value="B"required
                  />
                  <label class="mx-2" for="q<%= i %>B"><% if(i % 2 == 0) { %> G <% } else { %> B <% } %></label>
                </div>
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>C"
                    name="attempt[answers][reading][<%= i %>][choice]"
                    value="C"required
                  />
                  <label class="mx-2" for="q<%= i %>C"><% if(i % 2 == 0) { %> H <% } else { %> C <% } %></label>
                </div>
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>D"
                    name="attempt[answers][reading][<%= i %>][choice]"
                    value="D"required
                  />
                  <label class="mx-2" for="q<%= i %>D"><% if(i % 2 == 0) { %> J <% } else { %> D <% } %></label>
                </div>
              </div>
            </div>
              <div class="w-5/12<% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
              <div class="inline-flex items-center">
                <input
                  class="form-radio"
                  type="checkbox"
                  id="skipCheckbox<%= i %>"
                  name="attempt[answers][reading][<%= i %>][tags][0]"
                  value="skip"
                />
                <label class="mx-2" for="skipCheckbox<%= i %>"><img src="/assets/skip.png" alt=""></label>
              </div>
              <div class="inline-flex items-center">
                <input
                  class="form-radio"
                  type="checkbox"
                  id="guessCheckbox<%= i %>"
                  name="attempt[answers][reading][<%= i %>][tags][1]"
                  value="guess"
                />
                <label class="mx-2
" for="guessCheckbox<%= i %>"
                  ><img src="/assets/guess.png" alt=""></label
                >
              </div>
              <div class="inline-flex items-center">
                <input class="form-radio" type="checkbox" id="timeCheckbox<%= i
                %>" name="attempt[answers][reading][<%= i %>][tags][2]" value="noTime" />
                <label class="mx-2
" for="timeCheckbox<%= i %>"
                  ><img src="/assets/late.png" alt=""></label
                >
              </div>
              <div class="inline-flex items-center">
                <input class="form-radio" type="checkbox" id="reviseCheckbox<%= i
                %>" name="attempt[answers][reading][<%= i %>][tags][3]" value="revised" />
                <label class="mx-2" for="reviseCheckbox<%= i %>"
                  ><img src="/assets/revise.png" alt=""></label
                >
              </div>
            </div>
          </div>
          </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex mb-3 justify-center">
    <div class="w-1/2">
      <div class="bg-gray-100 rounded-xl p-4">
        <div class="card-body p-5">
          
            <h2 class="card-title bg-secondary text-light text-center rounded-pill py-3 mb-3  text-center rounded-pill">Science</h2>
          
        <div class="grid grid-cols-1">
          <% for(let i=1;i<41;i++) { %>
            <div class="w-full <% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
          <div class="inline-flex overflow-hidden w-5/6">
            <div class="w-1/12  <% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
              <span class="fw-bold">Q<%= i %></span>
            </div>
            <div class=" w-1/2 <% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
              <div class="d-inline">
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>A"
                    name="attempt[answers][science][<%= i %>][choice]"
                    value="A"
                    checked required
                  />
                  <label class="mx-2" for="q<%= i %>A"><% if(i % 2 == 0) { %> F <% } else { %> A <% } %>
      </label>
                </div>
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>B"
                    name="attempt[answers][science][<%= i %>][choice]"
                    value="B" required
                  />
                  <label class="mx-2" for="q<%= i %>B"><% if(i % 2 == 0) { %> G <% } else { %> B <% } %></label>
                </div>
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>C"
                    name="attempt[answers][science][<%= i %>][choice]"
                    value="C" required
                  />
                  <label class="mx-2" for="q<%= i %>C"><% if(i % 2 == 0) { %> H <% } else { %> C <% } %></label>
                </div>
                <div class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio"
                    id="q<%= i %>D"
                    name="attempt[answers][science][<%= i %>][choice]"
                    value="D" required
                  />
                  <label class="mx-2" for="q<%= i %>D"><% if(i % 2 == 0) { %> J <% } else { %> D <% } %></label>
                </div>
              </div>
              </div>
              <div class="w-5/12<% if(i % 2 == 0) {  %> bg-gray-200 <% } %>">
              <div class="inline-flex items-center">
                <input
                  class="form-radio"
                  type="checkbox"
                  id="skipCheckbox<%= i %>"
                  name="attempt[answers][science][<%= i %>][tags][0]"
                  value="skip"
                />
                <label class="mx-2" for="skipCheckbox<%= i %>"><img src="/assets/skip.png" alt=""></label>
              </div>
              <div class="inline-flex items-center">
                <input
                  class="form-radio"
                  type="checkbox"
                  id="guessCheckbox<%= i %>"
                  name="attempt[answers][science][<%= i %>][tags][1]"
                  value="guess"
                />
                <label class="mx-2" for="guessCheckbox<%= i %>"
                  ><img src="/assets/guess.png" alt=""></label
                >
              </div>
              <div class="inline-flex items-center">
                <input class="form-radio" type="checkbox" id="timeCheckbox<%= i
                %>" name="attempt[answers][science][<%= i %>][tags][2]" value="noTime" />
                <label class="mx-2" for="timeCheckbox<%= i %>"
                  ><img src="/assets/late.png" alt=""></label
                >
              </div>
              <div class="inline-flex items-center">
                <input class="form-radio" type="checkbox" id="reviseCheckbox<%= i
                %>" name="attempt[answers][science][<%= i %>][tags][3]" value="revised" />
                <label class="mx-2" for="reviseCheckbox<%= i %>"
                  ><img src="/assets/revise.png" alt=""></label
                >
              </div>
            </div>
          </div>
          </div>
          <% } %>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center pb-10">
    <div class="w-1/2 text-center">
          <button
          type="submit"
          class="
            mt-5
    px-4
    py-2
    font-medium
    tracking-wide
    text-white
    capitalize
    transition-colors
    duration-200
    transform
    bg-indigo-600
    rounded-md
    hover:bg-indigo-500
    focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-80
    m-4
    mb-8
    p-4
          "
        >
          Submit
        </button>
    </div>
  
  </div>
</form>