<% layout('layouts/boilerplate') %>
<!-- Show score, graphs + analysis for attempt -->
<link rel="stylesheet" href="/stylesheets/styles.css" />
<a class="btn btn-sm btn-outline-secondary mb-3" href="/attempts"
  >&laquo; All Attempts</a
>
<h1>Attempt: <%= attempt.test.form %></h1>
<h2 class="text-muted mb-3">
  <b>Date:</b> <%= attempt.dateTaken.toISOString().slice(0, 10)%>
</h2>
<div class="text-center">
  <div class="row">
    <div class="col">English</div>
    <div class="col">Math</div>
    <div class="col">Reading</div>
    <div class="col">Science</div>
  </div>
  <div class="row display-1">
    <div class="col"><%= scaled.english %></div>
    <div class="col"><%= scaled.math %></div>
    <div class="col"><%= scaled.reading %></div>
    <div class="col"><%= scaled.science %></div>
  </div>
  <div class="row display-4">
    <div class="col"><%= raw.english %></div>
    <div class="col"><%= raw.math %></div>
    <div class="col"><%= raw.reading %></div>
    <div class="col"><%= raw.science %></div>
  </div>
  <hr />
  <div class="row display-6">
    <div class="col">
      <%= attempt.tagStats.englishStats.skips %>
      <span><img class="thumbnail" src="/assets/skip.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.mathStats.skips %>
      <span><img class="thumbnail" src="/assets/skip.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.readingStats.skips %>
      <span><img class="thumbnail" src="/assets/skip.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.scienceStats.skips %>
      <span><img class="thumbnail" src="/assets/skip.png" alt="" /></span>
    </div>
  </div>
  <div class="row display-6">
    <div class="col">
      <%= attempt.tagStats.englishStats.guesses %>
      <span><img class="thumbnail" src="/assets/guess.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.mathStats.guesses %>
      <span><img class="thumbnail" src="/assets/guess.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.readingStats.guesses %>
      <span><img class="thumbnail" src="/assets/guess.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.scienceStats.guesses %>
      <span><img class="thumbnail" src="/assets/guess.png" alt="" /></span>
    </div>
  </div>
  <div class="row display-6 mb-3">
    <div class="col">
      <%= attempt.tagStats.englishStats.times %>
      <span><img class="thumbnail" src="/assets/late.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.mathStats.times %>
      <span><img class="thumbnail" src="/assets/late.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.readingStats.times %>
      <span><img class="thumbnail" src="/assets/late.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.scienceStats.times %>
      <span><img class="thumbnail" src="/assets/late.png" alt="" /></span>
    </div>
  </div>
  <div class="row display-6">
    <div class="col">
      <%= attempt.tagStats.englishStats.revises %>
      <span><img class="thumbnail" src="/assets/revise.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.mathStats.revises %>
      <span><img class="thumbnail" src="/assets/revise.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.readingStats.revises %>
      <span><img class="thumbnail" src="/assets/revise.png" alt="" /></span>
    </div>
    <div class="col">
      <%= attempt.tagStats.scienceStats.revises %>
      <span><img class="thumbnail" src="/assets/revise.png" alt="" /></span>
    </div>
  </div>
</div>

<%- include('../partials/tabview') %>
<div id="English" class="tabcontent">
  <div id="qTypeBarEng" class="mt-3"></div>
</div>

<div id="Math" class="tabcontent">
  <div id="qTypeBarMath" class="mt-3"></div>
</div>

<div id="Reading" class="tabcontent">
  <div id="qTypeBarRead" class="mt-3"></div>
</div>
<div id="Science" class="tabcontent">
  <div id="qTypeBarSci" class="mt-3"></div>
</div>

<div class="mt-3">
  <a class="btn btn-sm btn-success" href="/attempts/<%= attempt._id %>/edit"
    >Edit</a
  >
  <form
    class="d-inline"
    action="/attempts/<%= attempt.id %>?_method=DELETE"
    method="POST"
  >
    <button class="btn btn-sm btn-danger">Delete</button>
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Section</th>
      <th scope="col">#</th>
      <th scope="col">Topic</th>
      <th scope="col">Type</th>
      <th scope="col">Skip</th>
      <th scope="col">Guess</th>
      <th scope="col">Time</th>
      <th scope="col">Revise</th>
    </tr>
  </thead>
  <!-- https://stackoverflow.com/questions/22057610/uncaught-typeerror-cannot-read-property-value-of-null -->
  <tbody>
    <% for(let section of ['english','math','reading','science']) { %> 
      <% for(let i=0;i<mistakes[section].length;i++) { %>
      <tr>
        <th scope="row"><%= section[0].toUpperCase() + section.slice(1) %></th>
        <td><%= mistakes[section][i].index  %></td>
        <td> <%=  (mistakes[section][i].type||{}).general || "" %> </td>
        <td> <%= (mistakes[section][i].type||{}).name || "" %> </td>
        <td><img class="small" src="<%= attempt.answers[section][mistakes[section][i].index].tags.includes('skip') ? "/assets/check.png" : "/assets/close.png" %>" alt=""></td>
        <td><img class="small" src="<%= attempt.answers[section][mistakes[section][i].index].tags.includes('guess') ? "/assets/check.png" : "/assets/close.png" %>" alt=""></td>
        <td><img class="small" src="<%= attempt.answers[section][mistakes[section][i].index].tags.includes('time') ? "/assets/check.png" : "/assets/close.png" %>" alt=""></td>
        <td><img class="small" src="<%= attempt.answers[section][mistakes[section][i].index].tags.includes('revise') ? "/assets/check.png" : "/assets/close.png" %>" alt=""></td>
      </tr>
    <% } %>
    <% }  %> 
    
  </tbody>
</table>
<!-- TODO: Histogram of mistakes for question # and mistakes with bins= 10 or 5 -->
<script>
  const topicStats = <%- JSON.stringify(topicStats) %>;
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="/javascripts/attemptShowPage.js"></script>
